{% extends "base.html" %}

{% block head %}
    <title>蓝鲸开发框架</title>
    {{ block.super }}
{% endblock %}

{% block navigation %}
    <li class="king-navbar-active"><a href="{{ SITE_URL }}"><span>首页</span></a></li>
    <li><a href="{{ SITE_URL }}get_dfinfo/"><span>API测试</span></a></li>
{% endblock %}

{% block content %}
    <div class="king-page-box">
        <div class="king-container clearfix" style="width: 1024px">
            <div class="king-block king-block-bordered king-block-themed m20">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">参数选择</h3>
                </div>
                <div class="king-block-content">
                    <form class="form-horizontal">
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
                            <div class="col-sm-6">
                                <select name="" id="biz_id" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">主机IP：</label>
                            <div class="col-sm-6">
                                <select name="" id="ip" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">Job作业：</label>
                            <div class="col-sm-6">
                                <select name="" id="job" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">script脚本：</label>
                            <div class="col-sm-6">
                                <select name="" id="script" class="form-control bk-valign-top">

                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="button" class="king-btn mr10  king-success" onclick="run_job()">执行作业
                                </button>
                                <button type="button" class="king-btn mr10  king-info" onclick="run_script()">执行脚本
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="king-block king-block-bordered king-block-themed m20">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">信息展示</h3>
                </div>
                <div class="king-block-content">
                    <table class="table mb0 pr15 ranger-box ">
                        <thead>
                        <tr>
                            <th>文件系统</th>
                            <th>分区总量</th>
                            <th>使用量</th>
                            <th>剩余量</th>
                            <th>使用率</th>
                            <th>挂载点</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="6" style="text-align: center;color: #ccc">没有数据</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- 设置面板Start -->
                    <template id="ranger_nodata_tpl">
                        <tr>
                            <td colspan="6"> 正在获取数据，请稍后。。。</td>
                        </tr>
                    </template>
                    <template id="tpl_1526111412901">
                        <tr>
                            <td>#Filesystem#</td>
                            <td>#Size#</td>
                            <td>#Used#</td>
                            <td>#Avail#</td>
                            <td>#Use%#</td>
                            <td>#Mounted#</td>
                        </tr>
                    </template>
                    <!-- 下拉框模板 -->
                    <template id="app_tpl">
                        <option value="#id#">#name#</option>
                    </template>

                    <template id="ip_tpl">
                        <option value="#ip#">#ip#</option>
                    </template>

                    <template id="job_tpl">
                        <option value="#job_id#">#job_name#</option>
                    </template>
                    <template id="script_tpl">
                        <option value="#script_id#">#script_name#</option>
                    </template>
                    <!-- 设置面板End -->
                </div>
            </div>

            <div class="king-block king-block-bordered king-block-themed m20">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <button type="button" onclick="refresh_chart()">刷新<i class="fa fa-cog"></i></button>
                        </li>
                    </ul>
                    <h3 class="king-block-title">图表展示</h3>
                </div>
                <div class="king-block-content">
                    <div style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;"
                         id="chart_1530772671783" class="king-chart-box chart-area "
                         _echarts_instance_="1530762106368"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_block %}
    <script>
        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function () {
                var val = cfg[arguments[2]] + '';
                if (typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        /*
        * 查询表单级联数据拉取
        */
        function select_ip(biz_id) {
            //级联选择ip
            $('#ip').html('');
            $.get('{{ SITE_URL }}get_ip_by_bizid/', {'biz_id': biz_id}, function (data) {
                if (data.result) {
                    var _html = '';
                    var list = data.data;
                    var tpl = $('#ip_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#ip').html(_html);
                } else {
                    console.log("获取失败");
                }
            }, 'json')
        }

        function select_job(biz_id) {
            //级联选择job
            $('#job').html('');
            $.get('{{ SITE_URL }}get_job_list/', {'biz_id': biz_id}, function (data) {
                if (data.result) {
                    var _html = '';
                    var list = data.data;
                    var tpl = $('#job_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#job').html(_html);
                } else {
                    console.log("获取失败");
                }
            }, 'json')
        }

        function select_script(biz_id) {
            //级联选择script
            $('#script').html('');
            $.get('{{ SITE_URL }}get_script_list/', {'biz_id': biz_id}, function (data) {
                if (data.result) {
                    var _html = '';
                    var list = data.data;
                    var tpl = $('#script_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#script').html(_html);
                } else {
                    console.log("获取失败");
                }
            }, 'json')
        }

        /*
        * 表单查询事件提交，获取作业执行结果
        */
        function run_job() {
            var biz_id = $('#biz_id').val();
            var ip = $('#ip').val();
            var job_id = $('#job').val();
            $.post('{{ SITE_URL }}execute_job/', {
                'biz_id': biz_id,
                'ip': ip,
                'job_id': job_id
            }, function (data) {
                console.log(data);
                if (data.result) {
                    var job_instance_id = data.data;
                    // 异步请求后台数据
                    get_capacity(job_instance_id, biz_id, ip);
                } else {
                    console.log("获取失败");
                }
            }, 'json');
        }

        function run_script() {
            var biz_id = $('#biz_id').val();
            var ip = $('#ip').val();
            var script_id = $('#script').val();
            $.post('{{ SITE_URL }}execute_job/', {
                'biz_id': biz_id,
                'ip': ip,
                'script_id': script_id,
            }, function (data) {
                console.log(data);
                if (data.result) {
                    var job_instance_id = data.data;
                    // 异步请求后台数据
                    get_capacity(job_instance_id, biz_id, ip);
                } else {
                    console.log("获取失败");
                }
            }, 'json');
        }

        //获取作业执行结果，渲染表格
        function get_capacity(job_instance_id, biz_id, ip) {
            $.ajax({
                url: '{{ SITE_URL }}get_capacity/',
                type: 'GET',
                data: {'biz_id': biz_id, 'job_instance_id': job_instance_id, 'ip': ip},
                dataType: 'json',
                success: function (res) {
                    var _html = ' ';
                    var list = res.data;
                    console.log(list);
                    if (list.length) {
                        var tpl = $('#tpl_1526111412901').html();
                        for (var i = 0, len = list.length; i < len; i++) {
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                    } else {
                        _html = $('#ranger_nodata_tpl').html();
                        //作业未执行完，则继续轮询获取执行结果
                        setTimeout(function () {
                            get_capacity(job_instance_id, biz_id, ip)
                        }, 1 * 1000)
                    }
                    $('.ranger-box tbody').html(_html);
                }
            });
        }

        $(function () {
            /*
            * 查询表单级联数据拉取
            */
            $.get('{{ SITE_URL }}get_biz_list/', function (res) {
                if (res.result) {
                    var _html = '';
                    var list = res.data;
                    var tpl = $('#app_tpl').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('#biz_id').html(_html);
                    $('#biz_id').get(0).selectedIndex = 1;
                    var biz_id = $("#biz_id").val();
                    select_ip(biz_id);
                    select_job(biz_id);
                    select_script(biz_id);
                } else {
                    console.log("获取失败");
                }
            }, 'json');

            //业务选择下拉绑定change事件
            $("#biz_id").change(function () {
                var biz_id = $("#biz_id").val();
                console.log(biz_id);
                select_ip(biz_id);
                select_job(biz_id);
                select_script(biz_id);
            });
        })

    </script>
    <script>
        /*
        * 渲染图表数据
        */
        function createEStandLineChart(conf) {
            var myChart = echarts.init(document.getElementById(conf.selector));
            var legendData = []
            for (var i = 0; i < conf.data.series.length; i++) {
                legendData.push(conf.data.series[i].name)
            }
            myChart.setOption({
                title: {
                    text: conf.title,
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    y: 'bottom',
                    data: legendData
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['bar', 'line']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: conf.data.xAxis
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        splitArea: {show: true}
                    }
                ],
                series: conf.data.series
            });
        }

        function initEStandLineChart(conf) {
            $.ajax({
                url: conf.url,
                type: 'GET',
                data: conf.data,
                dataType: conf.dataType,
                success: function (res) {
                    //获取数据成功
                    console.log(res.data);
                    if (res.result) {
                        createEStandLineChart({
                            title: conf.title,
                            selector: conf.containerId, // 图表容器
                            data: res.data, // 图表数据
                        });
                    }
                }
            })
        }
    </script>
    <script>
        $(function () {
            initEStandLineChart({
                title: "磁盘使用率（百分比）",
                url: '{{ SITE_URL }}chartdata/',
                dataType: 'json',
                data: {
                    'ip': "10.0.1.192",
                    'mounted': "/",
                },
                containerId: 'chart_1530772671783'
            });
        });

        function refresh_chart() {
            initEStandLineChart({
                title: "磁盘使用率（百分比）",
                url: '{{ SITE_URL }}chartdata/',
                dataType: 'json',
                data: {
                    'ip': "10.0.1.192",
                    'mounted': "/",
                },
                containerId: 'chart_1530772671783'
            });
        }
    </script>
{% endblock %}



