{% extends "base.html" %}

{% block head %}
    <title>蓝鲸开发实验</title>
    {{ block.super }}
{% endblock %}

{% block navigation %}
    <li><a href="{{ SITE_URL }}"><span>首页</span></a></li>
    <li class="king-navbar-active"><a href="{{ SITE_URL }}get_dfinfo/"><span>API测试</span></a></li>
{% endblock %}

{% block content %}
    <div class="king-page-box">
        <div class="king-container clearfix" style="width: 1024px">
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">查询条件</h3>
                </div>
                <div class="king-block-content">
                    <form class="form-horizontal">
                        <div class="form-group clearfix ">
                            <label class="col-sm-1 control-label bk-lh30 pt0">IP：</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control bk-valign-top" id="ip" placeholder="输入查询的IP">
                            </div>
                            <label class="col-sm-1 control-label bk-lh30 pt0">系统：</label>
                            <div class="col-sm-2">
                                <select name="" id="os" class="form-control bk-valign-top">
                                    <option value="linux">linux</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label bk-lh30 pt0">分区：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control bk-valign-top" id="mounted" placeholder="输入磁盘分区">
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="king-btn mr10  king-success" onclick="search()">查询</button>
                            </div>
                        </div>
                    </form>
                    <table class="table mb0 pr15 ranger-box ">
                        <thead>
                        <tr>
                            <th>主机IP</th>
                            <th>磁盘分区</th>
                            <th>分区总量</th>
                            <th>使用量</th>
                            <th>剩余量</th>
                            <th>使用率</th>
                            <th>检查时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="6" style="text-align: center;color: #ccc">没有数据</td>
                        </tr>
                        </tbody>
                    </table>
                    <template id="ranger_nodata_tpl">
                        <tr>
                            <td colspan="6" style="text-align: center;color: #ccc">没有符合条件的数据</td>
                        </tr>
                    </template>
                    <template id="tpl_1526111412901">
                        <tr>
                            <td>#ip#</td>
                            <td>#mounted#</td>
                            <td>#size#</td>
                            <td>#used#</td>
                            <td>#avail#</td>
                            <td>#use#</td>
                            <td>#createtime#</td>
                        </tr>
                    </template>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_block %}
    <script>
        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function () {
                var val = cfg[arguments[2]] + '';
                if (typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        function search() {
            var ip = $('#ip').val();
            var os = $('#os').val();
            var mounted = $('#mounted').val();
            if (ip === '' || mounted === '') {
                alert("查询条件不能为空");
                return;
            }
            get_dfinfo(ip, os, mounted);
        }

        function get_dfinfo(ip, os, mounted) {
            $.ajax({
                url: '{{ SITE_URL }}get_dfinfo/get_dfinfo/',
                type: 'GET',
                data: {'ip': ip, 'os': os, 'mounted': mounted},
                dataType: 'json',
                success: function (res) {
                    var _html = ' ';
                    var list = res.data;
                    console.log(list);
                    if (res.result) {
                        var tpl = $('#tpl_1526111412901').html();
                        for (var i = 0, len = list.length; i < len; i++) {
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                    } else {
                        _html = $('#ranger_nodata_tpl').html();
                    }
                    $('.ranger-box tbody').html(_html);
                }
            });
        }
    </script>
{% endblock %}
